body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  display: flex;
  gap: 30px;
  justify-content: end;
  padding: 30px 100px 0 100px;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  border-bottom: 10px solid #000000;
}
.a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
}
.aniron{
  width: 150px;
  margin: 0 400px 20px 0;
}
:hover.a{
  background-color: #000000;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: rgb(255, 255, 255);
}
.carani{
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
